cython 
eccodes 
earthkit-data 
filelock>=3.12.0
numexpr 
dill 
sortedcontainers 
scipy 
array_api_compat 
pyvis 
git+ssh://git@git.ecmwf.int/ecsdk/meteokit.git 
git+https://github.com/ecmwf/pyfdb.git@master 
git+ssh://git@git.ecmwf.int/ecsdk/pproc.git 
git+ssh://git@github.com/ecmwf/cascade.git@92a3a8e
git+ssh://git@github.com/ecmwf/pproc-cascade.git@40883a7
dask_kubernetes
bokeh
bs4