cython==3.0.8
eccodes==1.6.1
earthkit-data==0.4.0
filelock>=3.12.0
numexpr==2.8.8
dill==0.3.7
sortedcontainers 
scipy==1.11.4
array_api_compat==1.4
pyvis==0.3.2
dask==2023.11.0
git+ssh://git@git.ecmwf.int/ecsdk/meteokit.git@0.1.0
git+https://github.com/ecmwf/pyfdb.git@0.0.3 
git+ssh://git@git.ecmwf.int/ecsdk/pproc.git@1.0.0
git+ssh://git@github.com/ecmwf/cascade.git@92a3a8e
git+ssh://git@github.com/ecmwf/pproc-cascade.git@40883a7
dask_kubernetes==2024.1.0
bokeh==3.3.3
bs4==0.0.1
